
body{
    background-image: url(../../image/cover.jpg);
    background-size: cover;
}
.background-wrapper {    
    margin: 5vh auto;
    background-size: cover;
    background-image: url(../../image/chat.jpg);
    width: 90vh;
    height: 90vh;
    flex-direction: row;  
}

.chat-main-wrapper {
    height: 100%;
}

.chat-header{
    width: 100%;
    background-color:  rgb(255, 0, 64) ;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 0;
}

.chat-header-contact-connection-display {
    font-family: 'Raleway';
    font-weight: 400;
    padding: 2px 0px;
    font-size: 11pt;
}

.chat-header-contact-name {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13pt;
    padding-left: 15px;
    color: #ffffff;
}

.chat-conversation-wrapper {
    width: 100%;
    height: 80.7%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    z-index: 0;
    scroll-behavior: smooth;
}

.chat-user-message-wrapper {
    width: 100%;
    height: 9.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#f1f2f6;
    position: relative;
}

.chat-user-message-form-wrapper {
    background-color: #ffffff;
    width: 85%;
    padding: 10px 20px;
    border-radius: 22px;
}

#user-message-form {
    width: 100%;
    font-size: 13pt;
    padding: 2px 10px;
    outline-style: none;
    border: none;
    font-family: 'Raleway';
    font-weight: 500;
}

#send-message, #attach-file,#emoji {
    color: #a4b0be;
    cursor: pointer;
}

#send-message {
    padding: 0px 15px;
}

#emoji {
    padding-left: 15px;
    padding-right: 8px;
}

.chat-header-contact-master {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message-wrapper {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    align-items: right;
    justify-content: flex-end;
    max-width: 60vh;
    margin-left: 36vh;
}

.message-box {
    background-color: rgb(10, 0, 0);
    padding: 20px 25px;
    text-align: left;
    max-width: 60vh;
    border-radius: 14px 0px 14px 14px;
}

.message-box-p {
    color: white;
    line-height: 23px;
    max-width: 60vh;
    height: 100%;  
}

.contact-message-wrapper { 
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    align-items: right;
    justify-content: flex-start;
    max-width: 60vh;
    margin-left: 0vh;
}

.contact-message-box {
    background-color: rgb(224, 30, 182);
    padding: 20px 25px;
    text-align: left;
    max-width: 60vh;
    border-radius: 0px 14px 14px 14px;
}

.contact-message-box-p {
    color: white;
    line-height: 23px;
    max-width: 60vh;
    height: 100%;  
}

.emojis-wrapper {
    width: 100%;
    padding: 15px 10px;
    background-color: #f1f2f6;
    position: absolute;
    z-index: 1;
    bottom: 8vh;
    display: inline-block;
    display: none;
}

.close-emoji-wrapper {
    width: 100%;
    padding: 15px 10px;
    background-color: #f1f2f6;
    position: absolute;
    z-index: 1;
    bottom: 8vh;
    display: inline-block;
    position: absolute;
}

.emoji-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.emoji-item {
    font-size: 16pt;
    padding:0px 5px;
    cursor: pointer;
}

#chat-contact-messages-options {
    color: white;
    cursor: pointer;
    padding: 0px 5px;
}

.contact-message-profile {
    margin-right: 5px;
    padding: 15px 19px;
    width: 50px;
    height: 50px;
    background-color: rgba(155, 93, 93, 0.336);
    border-radius: 100%;
    color: white;
}

.message-profile {
    margin-left: 5px;
    padding: 15px 19px;
    width: 50px;
    height: 50px;
    background-color: rgba(155, 93, 93, 0.336);
    border-radius: 100%;
    color: white;
}
.bold,.italic{
    width: 5%;
    background: black;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.italic{
    margin-left: 1.5%;
    font-style: italic;
}