body{
    background-image: url(../../image/bg.png);
    background-size: cover;
}
.header{
    display: grid;
    grid-template-columns: 50% 50%;
}
.img-logo{
    background: rgb(187, 135, 135);
    
}
.angkor{
    width: 8%;
    border-radius: 40px;
}
.ul{
    background: rgb(223, 74, 74);

}

ul{
    display: flex;
    
}
.singins{
    width: 10%;
    height: 6vh;
}
.get-started {
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
    width: 500px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    /* background-color:pink; */
    border-radius: 40px;
    background-image: url(../../image/bgl.jpg);
    background-size: cover;
}

.get-started p {
    font-size: 30pt;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #180110;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-p-subtitle {
    color: #3d022a;
}
  
#login-logo {
    color: #050505;
    font-size: 30pt;
    
}

.login-form{
    margin: 8px 0;
    padding: 16px 12px;
    width: 350px;
    outline-style: none;
    border: none;
    font-family: 'Raleway';
    font-size: 12pt;
    font-weight: 500;
    border: none;
    border: solid 4px rgb(235, 235, 235);
}

.login-btn{
    width: 350px;
    outline-style: none;
    border: none;
    background-color: lightseagreen;
    font-size: 'Raleway';
    font-weight: 700;
    color: white;
    font-size:18pt;
    padding: 16px 0px;
    margin-top: 20px;
    margin: 20px 0;
    cursor: pointer;
}

.login-form:focus{
    border: solid 4px black;
    transition: .2s;
}
