body{
    background-image: url(../../image/loginBGs.jpg);
    background-size: cover;
}
.get-started {
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
    width: 500px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color:pink;
    border-radius: 40px;
}

.get-started p {
    font-size: 30pt;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #7e0555;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-p-subtitle {
    color: #e60e9e;
}
  
#login-logo {
    color: #050505;
    font-size: 30pt;
    
}

.login-form{
    margin: 8px 0;
    padding: 16px 12px;
    width: 350px;
    outline-style: none;
    border: none;
    font-family: 'Raleway';
    font-size: 12pt;
    font-weight: 500;
    border: none;
    border: solid 4px rgb(235, 235, 235);
}

.login-btn{
    width: 350px;
    outline-style: none;
    border: none;
    background-color: lightseagreen;
    font-size: 'Raleway';
    font-weight: 700;
    color: white;
    font-size:18pt;
    padding: 16px 0px;
    margin-top: 20px;
    margin: 20px 0;
    cursor: pointer;
}

.login-form:focus{
    border: solid 4px black;
    transition: .2s;
}
